<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>build.index</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/josh/Documents/dev/node_project/update.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
    <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>11</integer>
            <key>Minute</key>
            <integer>0</integer>
    </dict>
    <dict>
            <key>Weekday</key>
            <integer>0</integer>
            <key>Hour</key>
            <integer>11</integer>
            <key>Minute</key>
            <integer>0</integer>
    </dict>
    </array>
</dict>
</plist>
